.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;

  /* flex: 1; */
  /* flex-grow:  */
  /* flex-shrink:  */
  /* flex-basis:  */
}

.container > div:nth-child(1) {
  background-color: #96ceb4;	
}

.container > div:nth-child(2) {
  background-color: #ff6f69;
}

.container > div:nth-child(3) {
  background-color: #88d8b0;
}

.container > div:nth-child(4) {
  background-color: #ff6f69;
}

.container {
  /* width: 600px; */
  height: 600px; 
  border: 5px solid #ffcc5c;

  display: flex;
  flex-direction: column;
  /* flex-direction: row; */


  /* justify-content: flex-start; */
  justify-content: center;
  /* justify-content: flex-end; */
  

  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly;  */

  
  /* align-items: flex-start; */
  align-items: center;
  /* align-items: flex-end; */

  flex-wrap: nowrap;


}

.home {
  /* flex: 1; */
  /* align-self: flex-end; */
  /* flex: 1; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* flex-basis: 0; */
  order: 0;
}

.search {
  /* flex: 1; */
  /* margin-right: auto; */
  order: 1;
}

.logo {
  /* flex: 1;    */
  /* align-self: flex-start; */
  order: -1;
}