.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;

  /* flex: 1; */
  /* flex-grow:  */
  /* flex-shrink:  */
  /* flex-basis:  */
}

.container > div:nth-child(1) {
  background-color: #96ceb4;	
}

.container > div:nth-child(2) {
  background-color: #ff6f69;
}

.container > div:nth-child(3) {
  background-color: #88d8b0;
}

.container > div:nth-child(4) {
  background-color: #ff6f69;
}

.container {
  border: 5px solid #ffcc5c;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;

  /* justify-content: flex-start; */
  justify-content: flex-end;
  /* justify-content: center;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly; */
}

.search {
  margin-right: auto;
}

.logo {
  flex: 4;
}